:root {
    --accent: orange;
    --text: #333;
    --regular-text: 16px;
    --lineheight: 1.65;
    --userfont: roboto-st, sans-serif;
    --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

@font-face {
    src: url("../fonts/roboto-regular-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("../fonts/roboto-italic-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 400;
    font-style: italic;
}

@font-face {
    src: url("../fonts/roboto-bold-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    src: url("../fonts/roboto-bolditalic-webfont.woff2") format("woff2");
    font-family: "roboto-st";
    font-weight: 700;
    font-style: italic;
}

::placeholder {
    color: #666;
}

input,
textarea {
    outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
    border-color: red;
}

input:required:valid,
textarea:required:valid {
    border-color: green;
}

body {
    font-family: var(--userfont);
    font-size: var(--regular-text);
    line-height: var(--lineheight);
    color: var(--text);
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
}

.image {
    max-width: 100%;
    margin-bottom: var(--bs-gutter-x);
    border-radius: 4px;
}

.accent {
    color: var(--accent);
    font-weight: bold;
}

header,
footer {
    position: relative;
}
